////
/// @group Mixins
/// Mixins partial.
/// @author Juan Fco Aguilar
////

/// @group Mixins
/// Mixin to show a degrade transition between sections.
/// @param {png} $img -Image to show a degrade transition between diferent sections.
/// @param {px} $pos-y -Pixels to move background photos.
/// @output -css to show only one background-image.
@mixin section-bg($img,$pos-y){
    background: $img;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}